body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.card {
    background: white;
    width: 400px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

.danger {
    background: #dc2626;
}

.navbar {
    background: #1e3a8a;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.progress {
    background: #ddd;
    height: 22px;
    margin-top: 10px;
}

#progressFill {
    background: green;
    height: 100%;
    width: 0%;
    color: white;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}
